{#
In this html file, it contains all the code needed to create web page for our augmented reality interface.
#}

{% include 'header.html' %}

{% if session["markerID"] %}
    <script>
        var lastArucoIdScan = {{ session["markerID"] }};
    </script>
{% else %}
    <script>
        var lastArucoIdScan = -1;
    </script>
{% endif %}

{% if (session["artwork_presence"]) and (session["artwork_presence"]=="true")  %}
    <script>
        var artwork_presence = true;
    </script>
{% else %}
    <script>
        var artwork_presence = false;
    </script>
{% endif %}

{% if basic_info_artwork is defined %}
    <script>
        var basic_info_artwork = {{ basic_info_artwork|tojson }};
    </script>
{% endif %}
{% if basic_info_artist is defined %}
    <script>
        var basic_info_artist = {{ basic_info_artist|tojson }};

    </script>
{% endif %}
{% if advanced_info_artwork is defined %}
    <script>
        var advanced_info_artwork = {{ advanced_info_artwork|tojson }};
    </script>
{% endif %}

<style>

    a-scene {
        width: 100%;
        height: 100%;
        display: block;
    }

    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .say-hi-button {
        padding: 0.25em;
        border-radius: 4px;
        border: none;
        background: white;
        color: black;
        width: 4em;
        height: 2em;
    }
</style>
<body style="margin : 0px; overflow: hidden;">
<div style="text-align: center;">
    <video id="video" autoplay="true" style="display:none;width:100%; height:100%;"></video>
    <canvas id="canvas" style="display:none;width:100%; height:100%;"></canvas>
</div>

<div id="tutorialModal" class="modal text-center">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p style="color: black;">
            In this interface, you can explore the artwork information <br>
            in an augmented reality experience through your device.<br>
            Once the popup confirms that the query has been completed, <br>
            you will be able to see below the picture of the artwork the basic information.<br>
            The basic information are the same as the information that can be found on the small panels near the works.<br>
            On the left side of the artwork, you will be able to see a series of buttons<br>
            giving access to different functionalities and interfaces of our application.<br>
            If someone clicks on the first three buttons, it will display other buttons just above the artwork.<br>
            Those buttons give access to information that will be display on the right side of the artwork.<br>
            The others buttons on the left side give access to other interfaces.<br>
            The last button gives the possibility to rescan a new artwork marker.<br>
            To be able to interact with the button or blue link, you need to point to a button or link,<br>
            for that there is a small black circle in the middle of the screen.<br>
            Thus, you have to point with your phone or tablets. Once on a button, you just have to click.
        </p>
    </div>
</div>

<a-scene id="scene" cursor="fuse: false; rayOrigin: mouse;" embedded arjs="patternRatio: 0.9; trackingMethod: best;"
         visible="true">
    <a-marker id="anchor" preset='custom' type='pattern' url='{{ session["markerPath"] }}'>
        <a-entity>
            <a-image id="artworkPicture" scale="1.5 1.5 1.5" width="auto" height="auto" position="0 0 0"
                     rotation="-90 0 0" visible="false"></a-image>
        </a-entity>

        <a-entity id="functionality" position="-4 0 -0.5" visible="false">
            {#<a-entity id="basic_info_artwork"
                position="0 0 0"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Basic Artwork\nInformation">
            </a-entity>
            <a-entity id="basic_info_artist" position="1 0 0"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Basic Artist\nInformation">
            </a-entity>
            <a-entity  id="advanced_info_artwork"  position="0 0 0.5"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Advanced Artwork\nInformation">
            </a-entity>
            <a-entity  id="data_vis"  position="1.25 0 0.5"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Artwork Data\nVisualisation">
            </a-entity>
            <a-entity  id="advanced_info_artwork"  position="0 0 0.5"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Advanced Artwork\nInformation">
            </a-entity>
            <a-entity  id="custom_search"  position="0 0 1"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Custom Search">
            </a-entity>
            <a-entity  id="request_history"  position="1 0 1"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Request History">
            </a-entity>
            <a-entity  id="scan_artwork"  position="0.5 0 1.5"
                rotation="-90 0 0"
                text="anchor: center; width: 3; color: blue; value: Scan Artwork">
            </a-entity>#}
            <a-entity id="basic_info_artwork" visible="true"
                      position="0 0 0"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/basic_artwork_info_circle.gltf);">
            </a-entity>
            <a-entity id="basic_info_artist"
                      position="1 0 0"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/basic_artist_info_circle.gltf);">
            </a-entity>
            <a-entity id="advanced_info_artwork" position="0 0 1"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/advanced_artwork_info_circle.gltf);">
            </a-entity>
            <a-entity id="data_vis" position="1 0 1"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/data_vis_button_circle.gltf);">
            </a-entity>
            <a-entity id="custom_search"
                      position="0 0 2"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/search_button_circle.gltf);">
            </a-entity>
            <a-entity id="request_history"
                      position="1 0 2"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/history_circle.gltf);">
            </a-entity>
            <a-entity id="scan_artwork"
                      position="0.5 0 3"
                      rotation="0 -90 0"
                      scale="5 5 5"
                      gltf-model="src: url(/static/3d_models/scan_artwork_circle.gltf);">
            </a-entity>
        </a-entity>

        <a-entity id="button_related_to_functionality" visible="false" position="-0.5 0 -2">
            <a-entity id="basic_info_artwork_button" visible="false">
            </a-entity>
            <a-entity id="basic_info_artist_button" visible="false">
            </a-entity>
            <a-entity id="advanced_info_artwork_button" visible="false">
            </a-entity>
        </a-entity>
        <a-text
                visible="false"
                rotation="-90 0 0"
                id="artwork_artist_year_title"
                position="0 0 1.5"
                align="center"
                color="black"
                width="2.5"
                z-offset="0.5"
                geometry="primitive:plane; width: 1.75; height: 1"
                material="color: white">
        </a-text>
        <a-text
                visible="false"
                rotation="-90 0 0"
                id="artwork_basic_info_area"
                position="3 0 0"
                align="center"
                color="black"
                width="2.5"
                z-offset="0.5"
                geometry="primitive:plane; width: 3.5; height: 2.25"
                material="color: white">
        </a-text>
        <a-entity>
            <a-image id="artworkAbstract" width="" height="" position="4 0 0.5"
                     rotation="-90 0 0" visible="false"></a-image>
        </a-entity>
        <a-text
                visible="false"
                rotation="-90 0 0"
                id="artwork_abstract_area"
                position="3 0 0"
                align="center"
                color="black"
                width="2.5"
                value="Artwork Abstract is missing"
                z-offset="0.5"
                geometry="primitive:plane; width: 3.5; height: 2.25"
                material="color: white">
        </a-text>
        <a-text
                visible="false"
                rotation="-90 0 0"
                id="artist_basic_info_area"
                position="3 0 0"
                align="center"
                color="black"
                width="2.5"
                z-offset="0.5"
                geometry="primitive:plane; width: 3.5; height: 2.25"
                material="color: white">
        </a-text>
        <a-entity>
            <a-image id="artistPicture" scale="1.5 1.5 1.5" width="auto" height="auto" position="3 0 0"
                     rotation="-90 0 0" visible="false"></a-image>
        </a-entity>
        <a-entity>
            <a-image id="artistAbstract" width="" height="" position="4 0 0.5"
                     rotation="-90 0 0" visible="false"></a-image>
        </a-entity>
        <a-text
                visible="false"
                rotation="-90 0 0"
                id="artist_abstract_area"
                position="3 0 0"
                align="center"
                color="black"
                width="2.5"
                value="Artist Abstract is missing"
                z-offset="0.5"
                geometry="primitive:plane; width: 3.5; height: 2.25"
                material="color: white">
        </a-text>
        <a-entity id="list" visible="false" position="3 0 0" rotation="-90 0 0">
            <a-text
                    id="list_artist"
                    align="center"
                    color="black"
                    width="2.5"
                    z-offset="0.5"
                    geometry="primitive:plane; width: 3.5; height: 2.25"
                    material="color: white">
            </a-text>
            <a-text
                    id="previous_artist"
                    visible="false"
                    position="-1 -1 0.5"
                    align="center"
                    color="blue"
                    width="2.5"
                    geometry="primitive:plane; width:0.5; height:auto"
                    value="Show Previous Page"
                    z-offset="0.05"
                    material="color: white">
            </a-text>
            <a-text
                    id="next_artist"
                    geometry="primitive:plane; width:0.5; height:auto"
                    position="0 -1 0.5"
                    visible="false"
                    align="center"
                    color="blue"
                    width="2.5"
                    value="Show Next Page"
                    z-offset="0.05"
                    material="color: white">
            </a-text>
        </a-entity>
        <a-entity id="real_links" position="3 2 0" rotation="-90 0 0" visible="false">
            <a-entity id="real_links_area" visible="false">
                <a-text
                        id="links_1"
                        visible="false"
                        position="0 0 0"
                        geometry="primitive:plane; width: auto; height:auto"
                        align="center"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        material="color: white">
                </a-text>
                <a-text
                        id="links_2"
                        visible="false"
                        position="0 -0.25 0"
                        align="center"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
                <a-text
                        id="links_3"
                        position="0 -0.5 0"
                        visible="false"
                        align="center"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
                <a-text
                        id="links_4"
                        position="0 -0.75 0"
                        align="center"
                        visible="false"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
                <a-text
                        id="links_5"
                        visible="false"
                        position="0 -1 0"
                        align="center"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
                <a-text
                        visible="false"
                        id="previous"
                        position="0 -1.25 0"
                        align="center"
                        color="blue"
                        width="2.5"
                        z-offset="0.5"
                        value="Show Previous Page"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
                <a-text
                        visible="false"
                        id="next"
                        position="0 -1.5 0"
                        align="center"
                        color="blue"
                        width="2.5"
                        value="Show Next Page"
                        z-offset="0.5"
                        geometry="primitive:plane; width: auto; height:auto"
                        material="color: white">
                </a-text>
            </a-entity>
            <a-entity id="no_links_area" visible="false">
                <a-text
                        id="no_links_area_text"
                        position="0.5 0 0"
                        align="center"
                        color="black"
                        width="2.5"
                        z-offset="0.25"
                        geometry="primitive:plane; width: auto; height: auto"
                        material="color: white">
                </a-text>
            </a-entity>
        </a-entity>
    </a-marker>


    <a-entity id="camera" camera mouse-cursor position="0 0 0" visible="false">
        <a-entity cursor="fuse: true; fuseTimeout:0;"
                  position="0 0 -2"
                  geometry="primitive: ring; radiusInner: 0.005; radiusOuter: 0.01"
                  material="color: black; shader: flat">
        </a-entity>
    </a-entity>
</a-scene>
</body>

{% if session["scan_marker"] == "true" %}
    <script>
        var scan_marker = true;
    </script>
{% else %}
    <script>
        var scan_marker = true;
        if (basic_info_artwork !== null) {
            scan_marker = false;
        }
    </script>
{% endif %}

<script type="text/javascript" src="./static/js/common.js"></script>
<script type="text/javascript" src="./static/js/arucoScanner.js"></script>
<script type="text/javascript" src="./static/js/ar_view.js"></script>
</html>