{#
This file is not used anymore to do the artwork maker identification.
We keep it if in the future, we change the app and we need it.
#}
<html>
<head>
    <meta charset="utf-8">
    <title>AR - Museum Guide</title>

    <!-- Bootstrap Core CSS -->
    <link href="./static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link href="./static/css/agency.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
            integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY"
            crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
            integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo"
            crossorigin="anonymous"></script>
    <![endif]-->

    <!-- jQuery -->

    <script src="./static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./static/libs/Three.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/svd.js"></script>
    <script type="text/javascript" src="./static/js/posit1.js"></script>
    <script type="text/javascript" src="./static/js/cv.js"></script>
    <script type="text/javascript" src="./static/js/aruco.js"></script>
    <script type="text/javascript" src="./static/js/arucoScanner.js"></script>
</head>
<!--Navigation-->
{% include 'navbar.html' %}

<body style="text-align: center; font-family: monospace;">
<div style="text-align: center;">
    <video id="video" autoplay="true" style="display:block;width:100%; height:100%;"></video>
    <canvas id="canvas" style="display:none;width:100%; height:100%;"></canvas>
</div>

</body>
</html>
