{#
In this html file, it contains all the code needed to create web page for our search interface.
#}
{% include 'header.html' %}
<style>
    .flex-container {
        display: flex;
    }

    .flex-container-row {
        display: flex;
        flex-direction: column;
    }

    #left, #middle {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: baseline;
    }

    #right {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .butt {
        background-color: #fed136;
        border-color: #fed136;
        height: fit-content;
        width: fit-content;
        text-align: center;
        cursor: pointer;
        margin: 10px;
    }

    .butt:hover {
        color: white;
        background-color: #fec503;
        border-color: #f6bf01;
    }
</style>
<body>
<div style="text-align: center">
    <div class="flex-container-row">
        <div style="padding-top: 150px;">
            {% if "markerID" in session %}
                <button id="display_main_view" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                        type="button"
                        class="btn butt">Augmented Reality <br>View
                </button>
            {% endif %}
            <button id="history_button" onclick="window.location.href='{{ url_for( 'history' ) }}';" type="button"
                    class="btn butt">Consult <br>History
            </button>
            <button id="scan_artwork_button" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                    type="button"
                    class="btn butt">Scan <br>Artwork Marker
            </button>
        </div>
    </div>
    <form action="javascript:void(0);" style="padding-top: 50px;">
        <label>
            Do you want a list of artwork related to your search?
        </label>&nbsp;&nbsp;
        <br>
        <input id="checkbox1" value="yes" name="checkbox1" type="checkbox" disabled
               onchange="updateCheckBoxYesNo(this)">
        Yes
        &nbsp;&nbsp;
        <input id="checkbox1" value="no" name="checkbox1" type="checkbox" checked="checked"
               onchange="updateCheckBoxYesNo(this)">
        No
        <br> <br>
        <label>Keyword Type</label> &nbsp;&nbsp;
        <br>
        <input id="material" value="material" type="checkbox" onchange="updateCheckBox(this)">
        Material
        &nbsp;&nbsp;
        <input id="type_technique" value="type_technique" type="checkbox" onchange="updateCheckBox(this)">
        Type/Technique
        &nbsp;&nbsp;
        <input id="art_mov" value="art_mov" type="checkbox" onchange="updateCheckBox(this)">
        Art Movement
        &nbsp;&nbsp;<br>
        <input id="museum" value="museum" type="checkbox" onchange="updateCheckBox(this)">
        Museum
        &nbsp;&nbsp;
        <input id="artist" value="artist" type="checkbox" onchange="updateCheckBox(this)">
        Artist
        &nbsp;&nbsp;
        <input id="artwork" value="artwork" type="checkbox" onchange="updateCheckBox(this)">
        Artwork
        <br> <br>
        <input type="text" id="search" name="search" placeholder="Search..." required style="color: black;">
        <input type="submit" value="Search" onclick="processAndSendRequest()">
    </form>
</div>
</body>
<script>
    document.getElementById("tutoLink").style.display = "none";
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
{% if data is defined %}
    <script>
        var data_query = {{ data|tojson }};
    </script>
{% else %}
    <script>
        var data_query = null;
    </script>
{% endif %}
<script type="text/javascript" src="/static/js/custom_search.js">
</script>
<script type="text/javascript" src="./static/js/common.js"></script>
</html>
