{#
In this html file, it contains all the code needed to create web page for our 2D tree view
to visiualise all the related data about an artwork.
#}

<style>
    ul, ul.myUL {
        list-style-type: none;
    }

    li.one {
        list-style-type: disc;
    }

    .myUL {
        margin: 0;
        padding: 0;
    }

    .caret-perso {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

    .caret-perso::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .caret-perso-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
    ' transform: rotate(90 deg);
    }

    .nested-perso {
        display: none;
    }

    .active-perso {
        display: block;
    }

    .flex-container {
        display: flex;
    }

    .flex-container-row {
        display: flex;
        flex-direction: column;
    }

    #left, #middle {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: baseline;
    }

    #right {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .butt {
        background-color: #fed136;
        border-color: #fed136;
        height: fit-content;
        width: fit-content;
        text-align: center;
        cursor: pointer;
        margin: 10px;
    }

    .butt:hover {
        color: white;
        background-color: #fec503;
        border-color: #f6bf01;
    }

</style>

{% include 'header.html' %}

{% if basic_info_artwork is defined %}
    <script>
        var basic_info_artwork = {{ basic_info_artwork|tojson }};
    </script>
{% endif %}
{% if basic_info_artist is defined %}
    <script>
        var basic_info_artist = {{ basic_info_artist|tojson }};

    </script>
{% endif %}
{% if advanced_info_artwork is defined %}
    <script>
        var advanced_info_artwork = {{ advanced_info_artwork|tojson }};
    </script>
{% endif %}

<body style="width:100%; height:100%">
<div class="flex-container-row">
    <div id="tutorialModal" class="modal text-center">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="color: black;">
                In this interface, you can explore the information artwork in the shape of a "Tree View".<br>
                At the beginning, the "Tree View" is completely grouped at the root.<br>
                But if you click on the root, it ungroups and displays the first information <br>
                about the artwork. If you interact with a blue link, it will update the interface<br>
                with new information or redirect you to another page if it's a link to a website, <br>
                and or reload a new page if the interaction is with a artwork name.<br>
                About the available functionality buttons, if you click one of them,<br>you will be redirected to another user interface.
            </p>
        </div>
    </div>
    <div style="padding-top: 150px; margin-left: 50px">
        {% if "markerID" in session %}
            <button id="display_main_view" onclick="askARView();"
                    type="button"
                    style="display: none"
                    class="btn butt">Augmented Reality <br>View
            </button>
        {% endif %}
        <button id="custom_search" onclick="window.location.href='{{ url_for( 'custom_search' ) }}';"
                type="button"
                class="btn butt">Custom <br>Search
        </button>
        <button id="history_button" onclick="window.location.href='{{ url_for( 'history' ) }}';" type="button"
                class="btn butt">Consult <br>History
        </button>
        <button id="scan_artwork_button" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                type="button"
                class="btn butt">Scan <br>Artwork Marker
        </button>
    </div>
    <div class="flex-container">
        <div id='left' style="flex-basis: 25em; flex-grow: 1; padding: 50px;">
            <ul class="myUL" id="first">

            </ul>
        </div>
        <div id="middle" style="flex-grow:1; padding-top: 50px; margin-left: 50px;">
            <ul class="myUL" id="second">
            </ul>
        </div>
        <div id="right" style="flex-grow:1; padding-top: 50px; margin-left: 50px">
            <span id="info_title" style=" display:none"></span>
            <textarea id="info_area" style="width: 600px; height: 400px; display: none" readonly></textarea>
            <img id="image_area">
        </div>
    </div>
</div>
</body>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
    var toggler = document.getElementsByClassName("caret-perso");
    var i;

    function askARView() {
        var form = document.createElement('form');
        form.setAttribute("action", "/ar_view");
        form.setAttribute("method", "post");
        var hiddenField_1 = document.createElement('input');
        hiddenField_1.setAttribute('type', 'hidden');
        hiddenField_1.setAttribute('name', 'basic_info_artwork');
        hiddenField_1.setAttribute('value', JSON.stringify(basic_info_artwork));
        form.appendChild(hiddenField_1);
        var hiddenField_2 = document.createElement('input');
        hiddenField_2.setAttribute('type', 'hidden');
        hiddenField_2.setAttribute('name', 'basic_info_artist');
        hiddenField_2.setAttribute('value', JSON.stringify(basic_info_artist));
        form.appendChild(hiddenField_2);
        var hiddenField_3 = document.createElement('input');
        hiddenField_3.setAttribute('type', 'hidden');
        hiddenField_3.setAttribute('name', 'advanced_info_artwork');
        hiddenField_3.setAttribute('value', JSON.stringify(advanced_info_artwork));
        form.appendChild(hiddenField_3);
        document.body.appendChild(form);
        form.submit();
    }

</script>
<script type="text/javascript" src="/static/js/data_vis.js"></script>
<script type="text/javascript" src="./static/js/common.js"></script>
</html>