{#
In this html file, it contains all the code needed to create web page for our requests history interface.
#}
{% include 'header.html' %}
<style>
    .flex-container {
        display: flex;
    }

    .flex-container-row {
        display: flex;
        flex-direction: column;
    }

    #left, #middle {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: baseline;
    }

    #right {
        align-content: stretch;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .butt {
        background-color: #fed136;
        border-color: #fed136;
        height: fit-content;
        width: fit-content;
        text-align: center;
        cursor: pointer;
        margin: 10px;
    }

    .butt:hover {
        color: white;
        background-color: #fec503;
        border-color: #f6bf01;
    }
</style>
<body>
<div style="text-align: center">
    <div class="flex-container-row">
        <div style="padding-top: 150px;">
            {% if "markerID" in session %}
                <button id="display_main_view" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                        type="button"
                        class="btn butt">Augmented Reality <br>View
                </button>
            {% endif %}
            <button id="custom_search_button" onclick="window.location.href='{{ url_for( 'custom_search' ) }}';"
                    type="button"
                    class="btn butt">Custom <br>Search
            </button>
            <button id="scan_artwork_button" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                    type="button"
                    class="btn butt">Scan <br>Artwork Marker
            </button>
        </div>
    </div>
</body>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
    var artwork_resquest_history =
    {{ artwork_request_history|tojson }}
    var custom_search_resquest_history =
    {{ custom_search_history|tojson }}
</script>
<script>
    document.getElementById("tutoLink").style.display = "none";
</script>
<script type="text/javascript" src="/static/js/history.js"></script>
</html>
