<!--Header-->
{% include 'header.html' %}


<body style="background-color: #126a9d; width:100%; height:100%">
<!-- Header -->
<header>

    <div class="container">
        <div class="intro-text" id="intro" style="display: none;">
            {% if session['logged_in'] %}
                <div id="tutorialModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h4 style="color: black">Functionality Tutorial</h4>
                        <p style="color: black">
                            <b>Scan Artwork Marker</b>: it allows to scan a marker identifying an artwork.<br>
                            Once scanned, it redirects to the augmented reality interface.
                        </p>
                        <p style="color: black">
                            <b>Custom Search</b>: it allows to do personalised search based <br>on keywords and types of keywords entered.
                        </p>
                        <p style="color: black">
                            <b>Consult History</b>: it allows to see all the requests already done.
                        </p>

                    </div>
                </div>
                <!-- Put code to redirect to page to scan Aruco Marker -->
                <div class="intro-lead-in" id="welcome1">Welcome {{ session["user_id"] }}.<br>Good to see you back!
                </div>
                    <button id="scan_artwork_button" onclick="window.location.href='{{ url_for( 'ar_view' ) }}';"
                            type="button"
                            class="btn btn-xl">Scan Artwork Marker
                    </button>
                    <br> <br>
                    <button id="custom_search" onclick="window.location.href='{{ url_for( 'custom_search' ) }}';" type="button"
                            class="btn btn-xl">Custom Search
                    </button>
                    <br> <br>
                    <button id="history_button" onclick="window.location.href='{{ url_for( 'history' ) }}';" type="button"
                            class="btn btn-xl">Consult History
                    </button>
                    <script type="text/javascript" src="./static/js/common.js"></script>
            {% else %}
                <div class="intro-lead-in" id="welcome1">Welcome on our Augmentented Reality Museum Guide</div>
                <div class="intro-heading"><h2>Login or Register an account</h2></div>
                <button id="login_button" onclick="window.location.href='{{ url_for( 'login' ) }}';" type="button"
                        class="btn btn-xl">Login
                </button>
                &nbsp;&nbsp;
                <button id="register_button" onclick="window.location.href='{{ url_for( 'register' ) }}';" type="button"
                        class="btn btn-xl">Register
                </button>
            {% endif %}
        </div>
    </div>


</header>
</body>
<script>
    $(document).ready(function () {
        $("#intro").fadeIn(2000);
    });
</script>
</html>
