<!--Header-->
{% include 'header.html' %}

<body id="page-top" class="index" style="background-color: #126a9d;">
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Login Account</div>
            <form action="" name="login" id="loginForm" method="post">
                {% if error %}
                <p class="form-errors"><strong>Error:</strong> {{ error }}
                    {% endif %}
                <div class="form-group text-center">
                    <input type="username" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-xl" value="login">Login</button>
                </div>
            </form>
            <br> <br>
            <span><a onclick="window.location.href='{{ url_for( 'register' ) }}';">Not registered? Sign Up</a></span>
        </div>
    </div>
</header>
</body>
</html>
