<!-- Bootstrap Core CSS -->
<link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
      type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Theme CSS -->
<link href="../static/css/agency.css" rel="stylesheet">

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #126a9d">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>

            <a class="navbar-brand page-scroll" href="#" onclick="window.location.href='{{ url_for( 'index' ) }}';">
                MG
            </a>
        </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% if session['logged_in'] %}
                <li id="tutoLink" class="nav-item">
                    <a class="nav-link" id="tutorial">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"
                       onclick="window.location.href='{{ url_for( 'logout' ) }}';">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
