<!--Header-->
{% include 'header.html' %}

<body id="page-top" class="index" style="background-color: #126a9d;">
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Register Account</div>
            <form action="" name="register" id="regitsterForm" method="post">
                {% if error %}
                <p class="form-errors"><strong>Error:</strong> {{ error }}
                    {% endif %}
                <div class="form-group text-center">
                    <input type="username" id="username" class="form-control" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Password" name="password"
                           required>
                </div>
                <div class="form-group">
                    <input type="password" id="password_confirmation" class="form-control"
                           placeholder="Password Confirmation" name="password_confirmation" required>
                </div>
                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-xl" value="register">Register</button>
                </div>
                {% if error %}
                <script type="text/javascript">
                    document.getElementById("username").value = "";
                    document.getElementById("password").value = "";
                    document.getElementById("password_confirmation").value = "";
                </script>
                {% endif %}
            </form>
            <br> <br>
            <span><a onclick="window.location.href='{{ url_for( 'login' ) }}';"> Already registered? Sign In</a></span>
        </div>
    </div>
</header>
</body>
</html>
